.TOP_List {
    list-style: none;
    float: right;
    padding: 2rem;
    width: 25rem;
    margin-right: 18rem;
    margin-top: 1.5rem;
}

.TOP_Box {
    width: 26rem;
    height: 3rem;
}

.TOP_Titulo {
    background-color: crimson;
    color: whitesmoke;
    padding: 0.5rem;
    width: 25rem;
    font-size: 15px;
    border-radius: 0.4rem;
}

.TOP_Img {
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 0.5rem;
}

.TOP_Parrafo {
    font-size: 14px;
    height: 3rem;
    white-space: pre-line; 
    overflow: hidden;
    text-overflow: ellipsis;
}