@font-face {
    font-family: 'TituloRebote';
    src: url('../../assets/Roboto-Black.ttf');
}

@font-face {
    font-family: 'ParrafoRebote';
    src: url('../../assets/Roboto-ThinItalic.ttf');
}

.Navbar_MenuStyle {
    background-color: rgb(255, 255, 255);
    height: 4rem;
    width: 100%;
    margin-top: 0rem;
    position: fixed;
}

.Navbar_Item {
    float: left;
    text-align: left;
    font-size: 20px;
    font-family: 'ParrafoRebote';
    color: rgb(0, 0, 0);
    list-style: none;
    margin-right: 2rem;
    margin-top: 1rem;
}

.Navbar_Logo {
    width: 17rem;
    height: 3rem;
    margin-right: 5rem;
    margin-left: 10rem;
    float: left;
}
