body {
    background: linear-gradient(180deg, black, rgb(37, 37, 37));
}

@font-face {
    font-family: 'TituloRebote';
    src: url('../../assets/Roboto-Black.ttf');
}

@font-face {
    font-family: 'ParrafoRebote';
    src: url('../../assets/Roboto-ThinItalic.ttf');
}

.Banner_Body {
    margin-left: 10rem;
    color: white;
    width: 80%;
    height: 25rem;
}

.Banner_ListStyle {
    list-style: none;
    display: fixed;
    list-style-type: none;
    align-items: center;
}

.Banner_ListBody {
    width: 80%;
    height: 25rem;
}

.Banner_Imagen {
    width: 70%;
    height: 30.1rem;
    float: left;
    border-top-left-radius: 0.5rem;
}

.Banner_NoticiasSmall1 {
    width: 27rem;
    height: 14.5rem;
    margin-bottom: 0.5rem;
    float: left;
    border-top-right-radius: 0.5rem;
}

.Banner_NoticiasSmall2 {
    width: 27rem;
    height: 14.5rem;
    float: left;
    border-bottom-right-radius: 0.5rem;
}

.Banner_Backdrop {
    position: absolute;
    background-color: rgb(44, 44, 44, 0.6);
    margin: 0;
    padding-top: 27rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 62.5rem;
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.9), rgba(100, 99, 99, 0.5));
}

.Banner_Titulo {
    position: absolute;
    margin-top: 20rem;
    margin-left: 1rem;
    font-size: 35px;
    width: 60rem;
    font-family: 'TituloRebote';
}

.Banner_Backdrop_Second {
    position: absolute;
    background-color: rgb(44, 44, 44, 0.6);
    margin: 0;
    margin-left: 63.5rem;
    padding-top: 15rem;
    padding-bottom: 1rem;
    padding-left: 7.3rem;
    padding-right: 19.7rem;
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.9), rgba(100, 99, 99, 0.5));
}

.Banner_Titulo_Second {
    position: absolute;
    margin-top: 11rem;
    margin-left: 65rem;
    font-size: 20px;
    width: 25rem;
    font-family: 'TituloRebote';
}

.Banner_Backdrop_Third {
    position: absolute;
    background-color: rgb(44, 44, 44, 0.6);
    margin: 15rem;
    margin-left: 63.5rem;
    padding-top: 15rem;
    padding-bottom: 1rem;
    padding-left: 7.3rem;
    padding-right: 19.7rem;
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.9), rgba(100, 99, 99, 0.5));
}

.Banner_Titulo_Third {
    position: absolute;
    margin-top: 25rem;
    margin-left: 65rem;
    font-size: 20px;
    width: 25rem;
    font-family: 'TituloRebote';
}

.Banner_TAG1 {
    position: absolute;
    background-color: crimson;
    color: whitesmoke;
    font-family: 'TituloRebote';
    padding: 0.5rem;
    font-size: 15px;
    
    margin: 0;
    border-bottom-right-radius: 0.4rem;
}

.Banner_TAG2 {
    position: absolute;
    background-color: crimson;
    color: whitesmoke;
    font-family: 'TituloRebote';
    padding: 0.5rem;
    font-size: 15px;
    margin-left: 64rem;
    margin-top: 0;
    border-bottom-right-radius: 0.4rem;
}

.Banner_TAG3 {
    position: absolute;
    background-color: crimson;
    color: whitesmoke;
    font-family: 'TituloRebote';
    padding: 0.5rem;
    font-size: 15px;
    margin-left: 64rem;
    margin-top: 16rem;
    border-bottom-right-radius: 0.4rem;
}
